loki.write "default" {
  endpoint {
    url = "{{ loki_write_url }}"
  }
}

loki.relabel "add_labels" {
  forward_to = [loki.write.default.receiver]
  rule {
    target_label = "host"
    replacement  = "{{ inventory_hostname }}"
  }

  rule {
    target_label = "env"
    replacement  = "{{ env_type }}"
  }

}

loki.source.file "pm2_logs" {
  targets = [
    { "__path__" = "/home/deploy/.pm2/logs/boostanalytics-error.log", "job" = "pm2_analytics_error" },
    { "__path__" = "/home/deploy/.pm2/logs/boostanalytics-out.log", "job" = "pm2_analytics_out" },
    { "__path__" = "/home/deploy/.pm2/logs/boostcore-error.log", "job" = "pm2_core_error" },
    { "__path__" = "/home/deploy/.pm2/logs/boostcore-out.log", "job" = "pm2_core_out" },
  ]
  forward_to = [loki.relabel.add_labels.receiver]
}