[Unit]
Description=Prometheus
After=network.target

[Service]
User=root
ExecStart=/opt/prometheus-{{ prometheus_version }}.linux-amd64/prometheus \
    --config.file=/opt/prometheus-{{ prometheus_version }}.linux-amd64/prometheus.yml \
    --storage.tsdb.path={{ prometheus_data_path }}

[Install]
WantedBy=default.target